In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [2]:
df= pd.read_excel('data99.xlsx', index_col=0)

Firstly, I want to remove those that have no answer to the asbh02a question because this is the most important for my analysis.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50367 entries, 0 to 50366
Data columns (total 57 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IDCNTRY   50367 non-null  int64
 1   IDSTUD    50367 non-null  int64
 2   ASBH02A   41503 non-null  object
 3   ASBH02B   16269 non-null  object
 4   ASBH03A   41179 non-null  object
 5   ASBH04    41231 non-null  object
 6   ASBH15A   37405 non-null  object
 7   ASBH15B   34597 non-null  object
 8   ASBH16    40406 non-null  object
 9   ASBH17A   36503 non-null  object
 10  ASBH17B   32361 non-null  object
 11  ASBH18AA  40161 non-null  object
 12  ASBH18AB  35131 non-null  object
 13  ASBG01    49428 non-null  object
 14  ASBG03    48168 non-null  object
 15  ASDAGE    50358 non-null  float64
 16  ASBG10A   48311 non-null  object
 17  ASBG10B   48077 non-null  object
 18  ASBG10C   47893 non-null  object
 19  ASBG10D   47822 non-null  object
 20  ASBG10E   47844 non-null  object
 21  ASBG10F   47945 non-null  object
 22  ASBG11A   47967 non-null  object
 23  ASBG11B   47756 non-null  object
 24  ASBG11C   47634 non-null  object
 25  ASBG11D   47497 non-null  object
 26  ASBG11E   47543 non-null  object
 27  ASBG11F   47843 non-null  object
 28  ASBG11G   47707 non-null  object
 29  ASBG11H   47701 non-null  object
 30  ASBG11I   47647 non-null  object
 31  ASBG11J   47613 non-null  object
 32  ASRREA01  50367 non-null  float64
 33  ASRREA02  50367 non-null  float64
 34  ASRREA03  50367 non-null  float64
 35  ASRREA04  50367 non-null  float64
 36  ASRREA05  50367 non-null  float64
 37  ASRLIT01  50367 non-null  float64
 38  ASRLIT02  50367 non-null  float64
 39  ASRLIT03  50367 non-null  float64
 40  ASRLIT04  50367 non-null  float64
 41  ASRLIT05  50367 non-null  float64
 42  ASRINF01  50367 non-null  float64
 43  ASRINF02  50367 non-null  float64
 44  ASRINF03  50367 non-null  float64
 45  ASRINF04  50367 non-null  float64
 46  ASRINF05  50367 non-null  float64
 47  ASRIIE01  50367 non-null  float64
 48  ASRIIE02  50367 non-null  float64
 49  ASRIIE03  50367 non-null  float64
 50  ASRIIE04  50367 non-null  float64
 51  ASRIIE05  50367 non-null  float64
 52  ASRRSI01  50367 non-null  float64
 53  ASRRSI02  50367 non-null  float64
 54  ASRRSI03  50367 non-null  float64
 55  ASRRSI04  50367 non-null  float64
 56  ASRRSI05  50367 non-null  float64
dtypes: float64(26), int64(2), object(29)
memory usage: 22.3+ MB

In [4]:
df = df.dropna(subset= ['ASBH02A'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41503 entries, 0 to 50364
Data columns (total 57 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IDCNTRY   41503 non-null  int64
 1   IDSTUD    41503 non-null  int64
 2   ASBH02A   41503 non-null  object
 3   ASBH02B   16269 non-null  object
 4   ASBH03A   40913 non-null  object
 5   ASBH04    40977 non-null  object
 6   ASBH15A   37094 non-null  object
 7   ASBH15B   34352 non-null  object
 8   ASBH16    40023 non-null  object
 9   ASBH17A   36281 non-null  object
 10  ASBH17B   32207 non-null  object
 11  ASBH18AA  39856 non-null  object
 12  ASBH18AB  34929 non-null  object
 13  ASBG01    41075 non-null  object
 14  ASBG03    39996 non-null  object
 15  ASDAGE    41498 non-null  float64
 16  ASBG10A   40195 non-null  object
 17  ASBG10B   40008 non-null  object
 18  ASBG10C   39886 non-null  object
 19  ASBG10D   39814 non-null  object
 20  ASBG10E   39847 non-null  object
 21  ASBG10F   39904 non-null  object
 22  ASBG11A   39905 non-null  object
 23  ASBG11B   39771 non-null  object
 24  ASBG11C   39659 non-null  object
 25  ASBG11D   39605 non-null  object
 26  ASBG11E   39627 non-null  object
 27  ASBG11F   39793 non-null  object
 28  ASBG11G   39733 non-null  object
 29  ASBG11H   39715 non-null  object
 30  ASBG11I   39686 non-null  object
 31  ASBG11J   39679 non-null  object
 32  ASRREA01  41503 non-null  float64
 33  ASRREA02  41503 non-null  float64
 34  ASRREA03  41503 non-null  float64
 35  ASRREA04  41503 non-null  float64
 36  ASRREA05  41503 non-null  float64
 37  ASRLIT01  41503 non-null  float64
 38  ASRLIT02  41503 non-null  float64
 39  ASRLIT03  41503 non-null  float64
 40  ASRLIT04  41503 non-null  float64
 41  ASRLIT05  41503 non-null  float64
 42  ASRINF01  41503 non-null  float64
 43  ASRINF02  41503 non-null  float64
 44  ASRINF03  41503 non-null  float64
 45  ASRINF04  41503 non-null  float64
 46  ASRINF05  41503 non-null  float64
 47  ASRIIE01  41503 non-null  float64
 48  ASRIIE02  41503 non-null  float64
 49  ASRIIE03  41503 non-null  float64
 50  ASRIIE04  41503 non-null  float64
 51  ASRIIE05  41503 non-null  float64
 52  ASRRSI01  41503 non-null  float64
 53  ASRRSI02  41503 non-null  float64
 54  ASRRSI03  41503 non-null  float64
 55  ASRRSI04  41503 non-null  float64
 56  ASRRSI05  41503 non-null  float64
dtypes: float64(26), int64(2), object(29)
memory usage: 18.4+ MB

In [6]:
df = df[df['ASBH02A'] != 9]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41365 entries, 0 to 50364
Data columns (total 57 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IDCNTRY   41365 non-null  int64
 1   IDSTUD    41365 non-null  int64
 2   ASBH02A   41365 non-null  object
 3   ASBH02B   16131 non-null  object
 4   ASBH03A   40775 non-null  object
 5   ASBH04    40839 non-null  object
 6   ASBH15A   36956 non-null  object
 7   ASBH15B   34214 non-null  object
 8   ASBH16    39885 non-null  object
 9   ASBH17A   36143 non-null  object
 10  ASBH17B   32069 non-null  object
 11  ASBH18AA  39718 non-null  object
 12  ASBH18AB  34791 non-null  object
 13  ASBG01    40945 non-null  object
 14  ASBG03    39866 non-null  object
 15  ASDAGE    41360 non-null  float64
 16  ASBG10A   40065 non-null  object
 17  ASBG10B   39879 non-null  object
 18  ASBG10C   39757 non-null  object
 19  ASBG10D   39687 non-null  object
 20  ASBG10E   39719 non-null  object
 21  ASBG10F   39777 non-null  object
 22  ASBG11A   39775 non-null  object
 23  ASBG11B   39643 non-null  object
 24  ASBG11C   39530 non-null  object
 25  ASBG11D   39478 non-null  object
 26  ASBG11E   39501 non-null  object
 27  ASBG11F   39664 non-null  object
 28  ASBG11G   39605 non-null  object
 29  ASBG11H   39587 non-null  object
 30  ASBG11I   39560 non-null  object
 31  ASBG11J   39553 non-null  object
 32  ASRREA01  41365 non-null  float64
 33  ASRREA02  41365 non-null  float64
 34  ASRREA03  41365 non-null  float64
 35  ASRREA04  41365 non-null  float64
 36  ASRREA05  41365 non-null  float64
 37  ASRLIT01  41365 non-null  float64
 38  ASRLIT02  41365 non-null  float64
 39  ASRLIT03  41365 non-null  float64
 40  ASRLIT04  41365 non-null  float64
 41  ASRLIT05  41365 non-null  float64
 42  ASRINF01  41365 non-null  float64
 43  ASRINF02  41365 non-null  float64
 44  ASRINF03  41365 non-null  float64
 45  ASRINF04  41365 non-null  float64
 46  ASRINF05  41365 non-null  float64
 47  ASRIIE01  41365 non-null  float64
 48  ASRIIE02  41365 non-null  float64
 49  ASRIIE03  41365 non-null  float64
 50  ASRIIE04  41365 non-null  float64
 51  ASRIIE05  41365 non-null  float64
 52  ASRRSI01  41365 non-null  float64
 53  ASRRSI02  41365 non-null  float64
 54  ASRRSI03  41365 non-null  float64
 55  ASRRSI04  41365 non-null  float64
 56  ASRRSI05  41365 non-null  float64
dtypes: float64(26), int64(2), object(29)
memory usage: 18.3+ MB

Now I want to change the countries so that they are easier for analysis

In [8]:
df= df.rename(columns={'IDCNTRY': 'Country'})

# Mapping dictionary
update_dict = {40: 'Austria', 818: 'Egypt', 250:'France', 276:'Germany',364:'Iran',400:'Jordan',528:'Netherlands',752:'Sweden',792:'Turkey'}

# Updating the column using map
df['Country'] = df['Country'].map(update_dict).fillna(df['Country'])

In [10]:
df['ASDAGE'] = df['ASDAGE'].round()

In [11]:
df['ASDAGE'].value_counts()

10.0    32829
11.0     6158
9.0      1762
12.0      516
13.0       63
14.0       14
8.0        14
99.0        3
7.0         1
Name: ASDAGE, dtype: int64

# I should replace the 99 with NaN

In [12]:
# Apply unique() to each column
unique_values = df.apply(lambda col: col.unique())

print(unique_values)

Country     [Turkey, Austria, Germany, Egypt, France, Iran...
IDSTUD      [50010601, 50010602, 50010603, 50010604, 50010...
ASBH02A                                       [1, 2, Yes, No]
ASBH02B     [6, 2, 1, 3, 4, 9, nan, 3 to 5 years old, 8 ye...
ASBH03A                               [1, 2, 9, Yes, No, nan]
ASBH04      [1, 2, 9, 4, 3, Always, Never, Almost always, ...
ASBH15A     [99, 5, 2, 4, 7, 1, 6, 3, 8, 10, 9, <Master’s ...
ASBH15B     [7, 3, 99, 6, 4, 5, 8, 2, 1, 10, 9, <Master’s ...
ASBH16      [6, 3, 5, 4, 9, 2, 1, Finish <Short-cycle tert...
ASBH17A     [99, 1, 3, 4, 10, 12, 11, 8, 2, 7, 6, 5, 9, Co...
ASBH17B     [9, 2, 99, 5, 3, 6, 12, 4, 10, 8, 11, 7, 1, Co...
ASBH18AA                           [9, 1, 2, 6, Yes, No, nan]
ASBH18AB                           [1, 9, 2, 6, Yes, No, nan]
ASBG01                        [2, 1, nan, Girl, Boy, <Other>]
ASBG03      [1, 3, 2, 9, 4, nan, I always speak <language ...
ASDAGE      [10.0, 9.0, 11.0, 12.0, 14.0, 8.0, 99.0, 13.0,...
ASBG10A     [1, 2, 3, 9, 4, nan, Agree a little, Agree a l...
ASBG10B     [1, 2, 4, 3, 9, nan, Disagree a little, Agree ...
ASBG10C     [1, 2, 4, 9, 3, nan, Agree a little, Agree a l...
ASBG10D     [1, 2, 3, 4, 9, nan, Agree a little, Agree a l...
ASBG10E     [1, 2, 4, 3, 9, nan, Disagree a little, Agree ...
ASBG10F     [1, 2, 3, 4, 9, nan, Agree a lot, Agree a litt...
ASBG11A     [4, 1, 3, 2, 9, nan, Never, Once or twice a mo...
ASBG11B     [4, 3, 1, 2, 9, nan, Never, Once or twice a mo...
ASBG11C     [4, 1, 3, 2, 9, nan, A few times a year, At le...
ASBG11D     [4, 2, 1, 3, 9, nan, Once or twice a month, Ne...
ASBG11E     [4, 9, 3, 1, 2, nan, Never, A few times a year...
ASBG11F     [4, 3, 1, 2, 9, nan, Never, A few times a year...
ASBG11G     [4, 3, 1, 9, 2, nan, Never, Once or twice a mo...
ASBG11H     [4, 1, 3, 2, 9, nan, A few times a year, Never...
ASBG11I     [4, 3, 1, 2, 9, nan, Never, At least once a we...
ASBG11J     [4, 2, 3, 1, 9, nan, Never, A few times a year...
ASRREA01    [575.43893, 624.14372, 566.97797, 559.10952, 5...
ASRREA02    [557.2702, 612.68392, 568.76819, 606.69925, 57...
ASRREA03    [561.95322, 544.73823, 532.78288, 618.60416, 5...
ASRREA04    [573.6631, 503.87599, 529.96707, 537.07661, 58...
ASRREA05    [567.45202, 556.77689, 574.76885, 578.13802, 5...
ASRLIT01    [574.18458, 558.67343, 510.07336, 552.78456, 5...
ASRLIT02    [538.50995, 490.57312, 546.94331, 549.12705, 5...
ASRLIT03    [552.13065, 518.70781, 579.40362, 549.04198, 5...
ASRLIT04    [544.30274, 579.02561, 573.21826, 574.22474, 5...
ASRLIT05    [526.00088, 587.62561, 543.85171, 579.36628, 5...
ASRINF01    [603.4214, 589.18148, 588.0798, 572.97888, 519...
ASRINF02    [557.18476, 567.6433, 530.325, 574.68991, 555....
ASRINF03    [579.4064, 583.6373, 608.01411, 587.09957, 541...
ASRINF04    [589.70854, 605.92949, 592.02409, 616.07931, 5...
ASRINF05    [607.70484, 612.32853, 604.63968, 627.0463, 54...
ASRIIE01    [512.47061, 533.28483, 555.22771, 597.19872, 5...
ASRIIE02    [531.55392, 570.44237, 511.40394, 550.02047, 5...
ASRIIE03    [530.54494, 533.81285, 535.36974, 590.29351, 5...
ASRIIE04    [532.47086, 527.90432, 577.63833, 604.19057, 5...
ASRIIE05    [551.68836, 552.31885, 579.58198, 599.13247, 5...
ASRRSI01    [511.66661, 509.93363, 595.41526, 602.64538, 5...
ASRRSI02    [550.91604, 590.28715, 531.5494, 548.77512, 57...
ASRRSI03    [541.14507, 528.73534, 554.99954, 569.19386, 5...
ASRRSI04    [547.95804, 527.73292, 616.19334, 604.42141, 5...
ASRRSI05    [576.53241, 552.69589, 579.88415, 591.9977, 60...
dtype: object

In [13]:
# Define the function to map patterns to integers
def map_using_patterns(text):
    # Dictionary of regex patterns to integers
    pattern_to_integer = {
        r'Younger': 1,
        r'5': 2,
        r'7': 3,
        r'8': 4
    }

    # Check if the input is a string
    if isinstance(text, str):
        for pattern, integer in pattern_to_integer.items():
            if pd.Series([text]).str.contains(pattern).any():
                return integer
    return text  # Return the original value if it's not a string or no pattern matches

# Apply the function to the 'ASBH02B' column
df['ASBH02B'] = df['ASBH02B'].apply(map_using_patterns)

In [14]:
df['ASBH02B'] = df['ASBH02B'].replace({6.0: np.nan, 9.0: np.nan})

In [16]:
df['ASBH02B'].value_counts(dropna=False)

NaN    38671
1.0     1110
2.0      852
3.0      483
4.0      249
Name: ASBH02B, dtype: int64

In [17]:
def populate_column(row):
    if row['ASBH02B'] == 1:
        return 0
    elif row['ASBH02B'] == 2:
        return 3
    elif row['ASBH02B'] == 3:
        return 6
    elif row['ASBH02B'] == 4:
        return 8
    else:
        return None  # Or any default value

# Apply the function to each row
df['MINAGEARRIVAL'] = df.apply(populate_column, axis=1)

In [18]:
df['MINAGEARRIVAL'].value_counts(dropna=False)

NaN    38671
0.0     1110
3.0      852
6.0      483
8.0      249
Name: MINAGEARRIVAL, dtype: int64

In [19]:
df.to_excel('cleandata99.xlsx')