In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [2]:
df= pd.read_excel('', index_col=0)

In [3]:
# Apply unique() to each column
unique_values = df.apply(lambda col: col.unique())

print(unique_values)

Country          [Turkey, Austria, Germany, Egypt, France, Iran...
IDSTUD           [50010601, 50010602, 50010603, 50010604, 50010...
ASBH02A                                            [1, 2, Yes, No]
ASBH02B                                  [nan, 2.0, 1.0, 3.0, 4.0]
ASBH03A                                    [1, 2, 9, Yes, No, nan]
ASBH04           [1, 2, 9, 4, 3, Always, Never, Almost always, ...
ASBH15A          [99, 5, 2, 4, 7, 1, 6, 3, 8, 10, 9, <Master’s ...
ASBH15B          [7, 3, 99, 6, 4, 5, 8, 2, 1, 10, 9, <Master’s ...
ASBH16           [6, 3, 5, 4, 9, 2, 1, Finish <Short-cycle tert...
ASBH17A          [99, 1, 3, 4, 10, 12, 11, 8, 2, 7, 6, 5, 9, Co...
ASBH17B          [9, 2, 99, 5, 3, 6, 12, 4, 10, 8, 11, 7, 1, Co...
ASBH18AA                                [9, 1, 2, 6, Yes, No, nan]
ASBH18AB                                [1, 9, 2, 6, Yes, No, nan]
ASBG01                             [2, 1, nan, Girl, Boy, <Other>]
ASBG03           [1, 3, 2, 9, 4, nan, I always speak <language ...
ASDAGE           [10.0, 9.0, 11.0, 12.0, 14.0, 8.0, 99.0, 13.0,...
ASBG10A          [1, 2, 3, 9, 4, nan, Agree a little, Agree a l...
ASBG10B          [1, 2, 4, 3, 9, nan, Disagree a little, Agree ...
ASBG10C          [1, 2, 4, 9, 3, nan, Agree a little, Agree a l...
ASBG10D          [1, 2, 3, 4, 9, nan, Agree a little, Agree a l...
ASBG10E          [1, 2, 4, 3, 9, nan, Disagree a little, Agree ...
ASBG10F          [1, 2, 3, 4, 9, nan, Agree a lot, Agree a litt...
ASBG11A          [4, 1, 3, 2, 9, nan, Never, Once or twice a mo...
ASBG11B          [4, 3, 1, 2, 9, nan, Never, Once or twice a mo...
ASBG11C          [4, 1, 3, 2, 9, nan, A few times a year, At le...
ASBG11D          [4, 2, 1, 3, 9, nan, Once or twice a month, Ne...
ASBG11E          [4, 9, 3, 1, 2, nan, Never, A few times a year...
ASBG11F          [4, 3, 1, 2, 9, nan, Never, A few times a year...
ASBG11G          [4, 3, 1, 9, 2, nan, Never, Once or twice a mo...
ASBG11H          [4, 1, 3, 2, 9, nan, A few times a year, Never...
ASBG11I          [4, 3, 1, 2, 9, nan, Never, At least once a we...
ASBG11J          [4, 2, 3, 1, 9, nan, Never, A few times a year...
ASRREA01         [575.43893, 624.14372, 566.97797, 559.10952, 5...
ASRREA02         [557.2702, 612.68392, 568.76819, 606.69925, 57...
ASRREA03         [561.95322, 544.73823, 532.78288, 618.60416, 5...
ASRREA04         [573.6631, 503.87599, 529.96707, 537.07661, 58...
ASRREA05         [567.45202, 556.77689, 574.76885, 578.13802, 5...
ASRLIT01         [574.18458, 558.67343, 510.07336, 552.78456, 5...
ASRLIT02         [538.50995, 490.57312, 546.94331, 549.12705, 5...
ASRLIT03         [552.13065, 518.70781, 579.40362, 549.04198, 5...
ASRLIT04         [544.30274, 579.02561, 573.21826, 574.22474, 5...
ASRLIT05         [526.00088, 587.62561, 543.85171, 579.36628, 5...
ASRINF01         [603.4214, 589.18148, 588.0798, 572.97888, 519...
ASRINF02         [557.18476, 567.6433, 530.325, 574.68991, 555....
ASRINF03         [579.4064, 583.6373, 608.01411, 587.09957, 541...
ASRINF04         [589.70854, 605.92949, 592.02409, 616.07931, 5...
ASRINF05         [607.70484, 612.32853, 604.63968, 627.0463, 54...
ASRIIE01         [512.47061, 533.28483, 555.22771, 597.19872, 5...
ASRIIE02         [531.55392, 570.44237, 511.40394, 550.02047, 5...
ASRIIE03         [530.54494, 533.81285, 535.36974, 590.29351, 5...
ASRIIE04         [532.47086, 527.90432, 577.63833, 604.19057, 5...
ASRIIE05         [551.68836, 552.31885, 579.58198, 599.13247, 5...
ASRRSI01         [511.66661, 509.93363, 595.41526, 602.64538, 5...
ASRRSI02         [550.91604, 590.28715, 531.5494, 548.77512, 57...
ASRRSI03         [541.14507, 528.73534, 554.99954, 569.19386, 5...
ASRRSI04         [547.95804, 527.73292, 616.19334, 604.42141, 5...
ASRRSI05         [576.53241, 552.69589, 579.88415, 591.9977, 60...
MINAGEARRIVAL                            [nan, 3.0, 0.0, 6.0, 8.0]
dtype: object

In [4]:
identifier_columns = ['Country','ASBH02A']
demographic_info_columns = ['ASBH02B', 'ASBH03A', 'ASBH04', 'ASBH15A', 'ASBH15B', 'ASBH16', 'ASBH17A', 'ASBH17B', 'ASBH18AA', 'ASBH18AB', 'ASBG01', 'ASBG03', 'ASDAGE','MINAGEARRIVAL' ]
positive_feelings_in_school = ['ASBG10A', 'ASBG10B','ASBG10C', 'ASBG10D', 'ASBG10E', 'ASBG10F']
negativeexperience_in_school_columns = ['ASBG11A', 'ASBG11B', 'ASBG11C', 'ASBG11D', 'ASBG11E', 'ASBG11F', 'ASBG11G', 'ASBG11H', 'ASBG11I', 'ASBG11J']
assessment_score_columns = ['ASRREA01', 'ASRREA02', 'ASRREA03', 'ASRREA04', 'ASRREA05', 'ASRLIT01', 'ASRLIT02', 'ASRLIT03', 'ASRLIT04', 'ASRLIT05', 'ASRINF01', 'ASRINF02', 'ASRINF03', 'ASRINF04', 'ASRINF05', 'ASRIIE01', 'ASRIIE02', 'ASRIIE03', 'ASRIIE04', 'ASRIIE05', 'ASRRSI01', 'ASRRSI02', 'ASRRSI03', 'ASRRSI04', 'ASRRSI05']

In [ ]:
pd.set_option('display.max_colwidth', None)  # Optional: Set max column width
pd.set_option('display.expand_frame_repr', False)  # Optional: Do not wrap line

## That was easy enough - now to do the asbh ones...

In [ ]:
ordinal_mapping_education_levels = {
1: 'Did not go to school', 
 2: 'Some <Primary education—ISCED Level 1 or Lower secondary education—ISCED Level 2>', 
 3: '<Lower secondary education—ISCED Level 2>', 
 4: '<Upper secondary education—ISCED Level 3>', 
 5: '<Post-secondary, non-tertiary education— ISCED Level 4>', 
 6: '<Short-cycle tertiary education—ISCED Level 5>', 
 7: '<Bachelor’s or equivalent level—ISCED Level 6>', 
 8: '<Master’s or equivalent level—ISCED Level 7>', 
 9: '<Doctor or equivalent level—ISCED Level 8>',
 10: 'Not applicable'
 }

In [ ]:
# Reverse the mapping dictionary
reverse_mapping_education_levels = {v: k for k, v in ordinal_mapping_education_levels.items()}

In [ ]:
df['ASBH15A'] = df['ASBH15A'].map(reverse_mapping_education_levels)

In [ ]:
df['ASBH15B'] = df['ASBH15B'].map(reverse_mapping_education_levels)

In [ ]:
 ordinal_mapping_profession_levels = {
 1: 'Has never worked for pay',
 10: 'Professional Includes scientists,mathematicians; computer scientists,architects; engineers; life science and health pr',
 11: 'Technician or Associate Professional Includes science, engineering, and computer associates and technicians; life scienc',
 12: 'Not applicable',
 2: 'Small Business Owner Includes owners of small businesses (fewer than 25 employees) such as retail shops, services, resta',
 3: 'Clerical Worker Includes office clerks; secretaries; data entry operators; customer service clerks',
 4: 'Service or Sales Worker Includes travel attendants; restaurant service workers; personal care workers; protective servic',
 5: 'Skilled Agricultural or Fishery Worker Includes farmers; forestry workers; fishery workers',
 6: 'Craft or Trade Worker Includes builders, carpenters, plumbers, electricians, metal workers; machine mechanics; handicraf',
 7: 'Plant or Machine Operator Includes plant and machine operators; assembly-line operators; motor-vehicle drivers',
 8: 'General'
 }

In [ ]:
# Reverse the mapping dictionary
reverse_mapping_profession_levels = {v: k for k, v in ordinal_mapping_profession_levels.items()}

In [ ]:
df['ASBH17A'] = df['ASBH17A'].map(reverse_mapping_profession_levels)

In [ ]:
df['ASBH17B'] = df['ASBH17B'].map(reverse_mapping_profession_levels)

In [ ]:
ordinal_mapping_language = {
     1: 'I always speak <language of test> at home',
    2: 'I almost always speak <language of test> at home',
    3: 'I sometimes speak <language of test> and sometimes speak another language at home',
    4: 'I never speak <language of test> at home'
    
}

In [ ]:
# Reverse the mapping dictionary
reverse_mapping_language = {v: k for k, v in ordinal_mapping_language.items()}
df['ASBG03'] = df['ASBG03'].map(reverse_mapping_language)
df['ASBG03'].unique()

In [ ]:
ordinal_mapping_language_parents = {
    1: 'Always',
    2: 'Almost always',
    3: 'Sometimes',
    4: 'Never'
}

In [ ]:
# Reverse the mapping dictionary
reverse_mapping_language_parents = {v: k for k, v in ordinal_mapping_language_parents.items()}
df['ASBH04'] = df['ASBH04'].map(reverse_mapping_language_parents)
df['ASBH04'].unique()

In [ ]:
# Define the function to map patterns to integers
def map_using_patterns(text):
    # Dictionary of regex patterns to integers
    pattern_to_integer = {
        r'Lower secondary education': 1,
        r'Upper secondary education': 2,
        r'Post-secondary, non-tertiary education': 3,
        r'Short-cycle tertiary education': 4,
        r'Bachelor’s or equivalent level': 5,
        r'Postgraduate degree': 6
    }

    # Check if the input is a string
    if isinstance(text, str):
        for pattern, integer in pattern_to_integer.items():
            if pd.Series([text]).str.contains(pattern).any():
                return integer
    return text  # Return the original value if it's not a string or no pattern matches

# Apply the function to the 'ASBH16' column
df['ASBH16'] = df['ASBH16'].apply(map_using_patterns)

In [ ]:
mapping_dict = {"Yes": 1, "No": 2}
df['ASBH18AA']= df['ASBH18AA'].map(mapping_dict)
df['ASBH18AB']= df['ASBH18AB'].map(mapping_dict)
df['ASBH18AA'].unique()
df['ASBH18AB'].unique()

In [ ]:
mapping_dict_gender = {"Girl": 1, "Boy": 2, "<Other>": 3}
df['ASBG01']= df['ASBG01'].map(mapping_dict_gender)
df['ASBG01'].unique()

# Replacing numbers representing NaN with NaN

In [ ]:
df["ASBH03A"] = df["ASBH03A"].replace({9.0: np.nan})

15a and 15b do not have 999s. replace the 10s with NaN as 10 is non applicable

In [ ]:
df["ASBH15A"] = df["ASBH15A"].replace({10.0: np.nan})

In [ ]:
df["ASBH15B"] = df["ASBH15B"].replace({10.0: np.nan})

In [ ]:
df["ASBH16"] = df["ASBH16"].replace({9.0: np.nan})

In [ ]:
df["ASBH17A"] = df["ASBH17A"].replace({12.0: np.nan})

In [ ]:
df["ASBH17B"] = df["ASBH17B"].replace({12.0: np.nan})